@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --main-family: "Poppins", sans-serif;
  --color-bg: linear-gradient(180deg, #ffffff 0%, #aec6dc 100%);

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: #20c6b7;
  --top-right-blur-2: #4d9abf;
  --bttm-left-blur-1: #ff5c02;
  --bttm-left-blur-2: #ffcdb1;
}

html {
  background: var(--color-bg);
  font-family: var(--main-family);
  min-height: 100%;
}

#background {
  position: fixed;
  width: 100%;
  z-index: -1;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header h1 {
  padding-top: 5%;
  margin: 0;
}

.header .logo img {
  padding: 30px 0;
  width: 100%;
}

.header h2 {
  line-height: 34px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5%;
  font-weight: 500;
}

@media only screen and (max-width: 450px) {
  .header h2 {
    width: 90%;
    padding: 5%;
  }
}

.bttns {
  margin-bottom: 5%;
}

.bttn {
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin: 0 1%;
  text-decoration: none;
}

.bttn.primary {
  display: inline-block;
  width: max-content;
  background: #21a69a;
  border: none;
  color: white;
  box-shadow: -3px 3px 5px rgb(35 33 33 / 23%);
}

.bttn.primary:hover {
  background: #21a69a;
  box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%);
  /* -webkit-box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%); */
}

.bttn.secondary {
  background: transparent;
  border: #093c4f 2px solid;
  color: #0d1d24;
}

.bttn.secondary:hover {
  background: #05171f;
  color: white;
}

.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  text-align: center;
  width: 100%;
}

.resource-list ul {
  text-align: left;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.resource-list li {
  padding: 2%;
  font-weight: bold;
}

.resource-list a {
  color: black;
  line-height: 30px;
}

footer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

footer img {
  width: 20px;
}
