---
import i18next from "i18next";
import ISO6991 from "iso-639-1";
import countryCodeToFlagEmoji from "country-code-to-flag-emoji";
import { localizePath } from "../utils";

export interface Props {
  showFlag?: boolean;
}

const supportedLanguages = i18next.languages;
const currentLanguage = i18next.language;

const { pathname } = Astro.canonicalURL;

const { showFlag = false, ...attributes } = Astro.props;
---

<select onchange="location = this.value;" {...attributes}>
  {supportedLanguages.map((supportedLanguage: string) => {
    let value = localizePath(pathname, supportedLanguage)
    const flag = showFlag ? countryCodeToFlagEmoji(supportedLanguage) + " " : ""
    const nativeName = ISO6991.getNativeName(supportedLanguage)
    const label = flag + nativeName

    return (
      <option value={value} selected={supportedLanguage === currentLanguage}>
        {label}
      </option>
    )
  })}
</select>
