---
import i18next from "i18next";
import ISO6391 from "iso-639-1";
import countryCodeToFlagEmoji from "country-code-to-flag-emoji";

export interface Props {
  className?: string;
}

const supportedLanguages = i18next.languages;
const currentLanguage = i18next.language;
const baseLanguage = "en";

const { className } = Astro.props;
---

<select onchange="location = this.value;" class={className}>
  {supportedLanguages.map((supportedLanguage: string) => {
    const value = supportedLanguage === baseLanguage ? "/" : supportedLanguage
    const label = `${countryCodeToFlagEmoji(
      supportedLanguage
    )} ${ISO6391.getNativeName(supportedLanguage)}`

    return (
      <option value={value} selected={supportedLanguage === currentLanguage}>
        {label}
      </option>
    )
  })}
</select>
